# Django settings
SECRET_KEY=your_django_secret_key_here
DEBUG=True

# Allowed hosts
ALLOWED_HOSTS=127.0.0.1,localhost

# Email
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_USE_TLS=True
EMAIL_PORT=587
EMAIL_HOST_USER=your_email_here
EMAIL_HOST_PASSWORD=your_email_password_here

# Google OAuth
SOCIAL_AUTH_GOOGLE_CLIENT_ID=your_google_client_id_here
SOCIAL_AUTH_GOOGLE_CLIENT_SECRET=your_google_client_secret_here